<!DOCTYPE html>
<html>
<head>
  <title>Onyx</title>
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="m-navbar">
  <ul>
    <li>Home</li>
  </ul>
</nav>

<%= yield %>

<footer>

</footer>

</body>
</html>
